@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro");

*{
    background-color: #0f0f23;
    color: white;
    font-family: "Source Code Pro";
}

#loading{
    color: #4AF626;
}
.error{
    color: #FF9494
}